$padding: 16px;
$main-color: #164e87;
$border-color: #eee;

pre {
  font-family: "Source Code Pro", sans-serif, monospace;
}

.site-page {
  background: white;
}
.site-header {
  background: $border-color;
  padding: 8px 0;
  .logo { 
    display: flex; align-items: center;
    padding: 0 $padding;
    > img { margin-right: 8px; }
    span {
      font-size: 32px;
      color: $main-color;
    }
  }
}
.site-aside {
  border-right: 1px solid $border-color;
  margin-right: 16px;
  h2 {
    padding: $padding;
    font-size: 16px;
  }
  ul {
    min-width: 12em;
    > li {
      padding: 8px 0;
      a {
        color: #ddd;
        display: block;
        padding: 8px $padding;
        &:hover {
          color: $main-color;
        }
        &.active {
          background: lighten($main-color, 60%);
          color: $main-color;
        }
      }
    }
  }
}
.site-main {
  padding-top: $padding;
}
.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid $border-color;
}
.site-demo {
  padding: $padding 0;
}
// reset
body {
  font: status-bar;
  font-size: 14px;
  line-height: 1.42858; }

h1, h2, h3, h4, h5, h6 {
  // font-size: 100%;
  margin: 0;
  font-weight: 400; }

body, form, ul, ol, dl, dd, p {
  margin: 0; }

ul, ol {
  list-style-type: none;
  padding: 0; }

img {
  border: 0 none;
  vertical-align: bottom; }

button, input, select, textarea {
  font-size: 1em;
  font-family: inherit; }

a, a:hover {
  text-decoration: none; }